.main {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.anim {
  color: rgb(240, 25, 25);
  background-color: gray;
  box-shadow: 2px 2px 10px red, -2px -2px 10px rgb(9, 89, 187);
}

.button {
  padding: 10px 30px;
  margin: 0px 10px;
  background: transparent;
  outline: none;
  border: 2px solid gray;
  cursor: pointer;
  border-radius: 3px;
}
